POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=uzum_reviews
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/uzum_reviews

SENTIMENT_SVC_URL=http://localhost:8001
ASPECT_SVC_URL=http://localhost:8002
