# Backend Gateway API URL (majburiy)
# O'zingizning backend serveringiz IP manzili yoki domenini kiriting (masalan: http://localhost:8000 yoki http://192.168.1.10:8000)
VITE_API_URL=http://localhost:8000
